* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
}

.container {
    background-color: darkgrey;
    height: 60px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    padding: 0 12px 0 12px;
}